* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

header li {
    display: inline;
}

header .container {
    display: flex;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 600px;
}

.articles article {
    width: 45%;
}

section {
    padding: 1%;
}

 

.footer_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 10px;
}